.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}

nav {
    background-color: lightgreen;
}

nav li{
    display: inline;
    /*background-color: lightsteelblue;*/
}

nav li a{
    color: darkred
}

/*input{
    border-radius: 50%;
}*/

body{
    background-color: lightsteelblue;
    color: darkred;

}